*,
*,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-standard: 1em;
  --font-medium: 2em;
  --font-medium_mob: 0.9em;
}

p {
  font-size: var(--font-medium);
}

/* all screen =< max-486px */
@media (max-width: 486px) {
  p {
    font-size: var(--font-medium_mob);
  }
}

.parent-section {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right top,
    #000535,
    #09013c,
    #18016a,
    #210171,
    #2d0380,
    #350873,
    #2a095c,
    #300482,
    #2b108f,
    #370496,
    #5f20b2,
    #42079b
  );
}

/* general */
body,
html {
  font-family: chakra petch;
}

a {
  text-decoration: none;
}

img {
  width: 10%;
}

nav ul {
  list-style: none;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* end general */

/* btn */
.btn {
  width: 10em;
  height: 3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 0;
  background-image: linear-gradient(to right top, #1366f6, #a03eef, #ee5bf3);
  font-size: var(--font-standard);
  color: white;
}
/* end btn  */

/* header */
.header {
  position: absolute;
  width: 100%;
  height: 5em;
  z-index: 2;
  justify-content: space-around;
}

.header div {
  flex-direction: row;
}

.header nav ul {
  display: flex;
  gap: 30px;
  font-size: var(--font-standard);
}
.header div span {
  font-size: 1.6em;
  font-weight: 600;
}
.header div img {
  filter: drop-shadow(3px 4px 6px black);
  width: 100px;
}

.header nav ul li p:hover {
  text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #00ff33, 0 0 10px #00ff33,
    0 0 15px #00ff33, 0 0 20px #00ff33, 0 0 25px #00ff33, 0 0 30px #00ff33;
}

/*end header */
