*,
*,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  width: 10%;
}

/* de sters later */
.red {
  background: red;
}

.black {
  background: black;
}

/* use root   --numeProprietate */
:root {
  /*section1  */
}

/* btn */
.btn {
  padding: 0.5em 1em;
  border: 1px solid black;
  width: fit-content;
}
/* end btn  */

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  justify-content: space-around;
}

.parent-section {
  width: 100%;
  height: 100%;
  background-color: purple;
}
